body{
    background: url(/img/hiii.png);
    margin: 0px;
    overflow: hidden;
}

#clock-container{
display: flex;
justify-content: center;
align-items: center;
}

#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
}
